*{
	text-decoration: none;
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: cursive;
	position: none;
}
body{
	height: auto;
	width: auto;
}
.nav-barre{
	width: 100%;
	background-color: gray;
	align-items: center;
	position: fixed;
}
.nav-barre .max-div{
	display: flex;
	width: 98%;
	justify-content: space-between;
	align-items: center;
	position: relative;#0000008a
	background-color: gray;
}
		.nav-barre .max-div .logo a .t{
			margin-top: 8%;
			font-size: 50px;
		}
		.nav-barre .max-div .logo a{
			padding-left: 15px;
			align-self: center;
			position: relative;
			text-align: center;
			text-shadow: 
				        1px 1px 1px #0000006e,
				        1px 2px 1px #0000006e,
				        1px 3px 1px #0000006e,
				        1px 4px 1px #0000006e,
				        1px 5px 1px #0000006e,
				        1px 6px 1px #0000006e,
				        1px 7px 1px #0000006e;
			color: black;
			display: flex;
			justify-content: space-between;
			align-content: center;
			transition: color 2s;
		}
		.nav-barre .max-div .logo a:hover{
			color: red;
		}
.nav-barre .max-div .menu li{
	display: inline-block;
	margin-right: 15px;
}
.nav-barre .max-div .menu li .sur{
	margin-right: 50px;
}
.nav-barre .max-div .menu li .sur::after{
    content: "▼";
    font-size: 20px;
    font-weight: 600;
}
.nav-barre .max-div .menu li a{
	color: black;
	font-size: 25px;
	font-weight: 900;
	margin-left: 25px;
	transition: color 2s;
}
.nav-barre .max-div .menu li a:hover{
	color: red; 
}
.sous{
	display: none;
	position: absolute;
    color: black;
}
.menu li:hover .sous{
	display: block;
}
.sous li{
	width: 100%;
	text-align: center;
	background-color:gray;
	color: black;
	border: 2px solid #bdc3c7;
}
.detail{
	display: none;
	position: absolute;
	right: 100%;
	top: auto;
    color: black;
}
.sous li:hover .detail{
	display: block;
	align-items: left;
}
.detail {
	width: 100%;
	height: 150%;
	border-radius: 10%;
	overflow: auto;
	position: left;
	text-align: center;
	background-color:gray;
	color: black;
	border: 2px solid #bdc3c7;
}
.detail::-webkit-scrollbar { width: 0 !important }
.detail .detail_text {
	text-align: justify;
	width: 200px;
}
.detail img{
	width: 75%;
	height: 30%;
	border-radius: 20%;
	box-shadow: 10px 5px 5px currentColor;
	margin-top: 2%;
}
/*************************************************************************/
.section1{
	padding-top: 8.5%;
	animation: defile 16s ease-in-out infinite both;
	width: 100%;
	background-size: contain;
	background-color: #EDEDED;
}
.section1 .site img:hover{
	background-color: gray;
}
.section1 .marquee{
	background-color: black;
	width: 100%;
	font-size: 35Px;
	font-weight: 900;
	direction: ltr;
	margin-bottom: 15px;
	
}

.polling_message {
  color: white;
  float: left;
  margin-left: 10%;
  font-size: 45px;
  align-self: center;
  font-weight: 800;
}

.view_port {
  background-color: black;
  height: 70px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 40px;
}

.cylon_eye {
  background-color: red;
  background-image:         linear-gradient(to right, rgba( 0,0,0,0.9 ) 25%, rgba( 0,0,0,0.1 ) 50%, rgba( 0,0,0,0.9 ) 75%);
  color: white;
  height: 100%;
  width: 20%;

  -webkit-animation: 4s linear 0s infinite alternate move_eye;
          animation: 4s linear 0s infinite alternate move_eye;
}

@-webkit-keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
        @keyframes move_eye { from { margin-left:-20%; } to { margin-left:100%; }  }
.section1 .site{
	display: flex;
	justify-content: center;
	align-content: center;
}
.section1 .site .div-left{
	height: 100%;
	width: 25%;
	margin-right: 35px;
	margin-left: 15px;
}
.section1 .site .div-left img{
	background-color: yellow;
	align-self: center;
	width: 100%;
	border-radius: 10%;
	padding-left:20px;
	padding-right: 10px;
	padding-bottom: 20px;
	transition-duration: 1s;
}
.section1 .site .div-left img:hover{
	background-color: gray;
}
.section1 .site .div-autre{
	position: right;
	width: 85%;
	height: 100%;
	display: flex;
	justify-content: space-between;
}
.section1 .site .div-autre .div-center{
	width: 50%;
	margin-right: 10%;
	margin-left: 10%;
	height: 100%;
	display: block;
	align-items: center;
	margin-bottom: 20%;
	margin-top: 20%;
}
.section1 .site .div-autre .div-center img{
	background-color: yellow;
	align-self: center;
	width: 100%;
	height: 30%;
	border-radius: 10%;
	margin-bottom: 30px;
	transition-duration: 1s;
}
.section1 .site .div-autre .div-center img:hover{
	background-color: gray
}
.section1 .site .div-autre .div-right{
	width: 50%;
	height: 100%;
	display: block;
}
.section1 .m img{
	background-color: yellow;
	align-self: center;
	width: 75%;
	height: 20%;
	border-radius: 10%;
	margin-left:10px;
	margin-right: 10px;
	transition-duration: 1s;
}
.section1 .mn img{
	background-color: yellow;
	align-self: center;
	width: 75%;
	height: 20%;
	border-radius: 10%;
	margin-left:10px;
	margin-top: 10%;
	margin-bottom: 10%;
	margin-right: 10px;
	transition-duration: 1s;
}
/*
.body_contant{
	width: 100%;
	height: 830px; 
	
}*/
@keyframes defile {
0% {background: url('Attack-on-Titan-1.jpg.png');}
16.66% {background-image: url('one pice.png');}
33.32%{background-image: url('mha.png');}
49.98%{background-image: url('black clover.png');}
66.64%{background-image: url('hunter x hunter.png');}
83.4%{background-image:url('fairy tail.png');}
100%{background-image:url('tokyo ghoul.png');}

}
/****************************************************************************/
footer{
	background: linear-gradient(to right,blue,black,gray);
	width: 100%;
	height: 50px;
	text-align: center;
	text-shadow: currentColor;
	color: white;
	font-size: 25px;
	font-weight: 500;
	padding-top: 10px;
}
footer span {
	color: red;
	transition-duration: 2s;
}
footer span :hover{
	color: #00ec00;
}